@using MagicButton.Data
@using Microsoft.EntityFrameworkCore
@inject MagicDbContext _dbContext;
@{
    var isNew = await _dbContext.DeviceConfigs.AnyAsync() == false;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Magic Button</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/magic-button.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body class="bg-smoke">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-primary navbar-dark border-bottom shadow-sm mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">✨ Magic Button</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav">
                        @if (isNew == false)
                        {

                            <li class="nav-item dropdown">
                                <a class="nav-link  text-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Configure
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark  dropdown-item" asp-area="" asp-page="/Action"><i class="bi bi-boxes"></i> API Action</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark dropdown-item" asp-area="" asp-page="/Device"><i class="bi bi-hand-index-thumb"></i> Button Settings</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-dark dropdown-item" asp-area="" asp-page="/Leds"><i class="bi bi-lightbulb"></i> LED Settings</a>
                                    </li>

                                </ul>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link  text-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Inspect
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark  dropdown-item" asp-area="" asp-page="/Presses"><i class="bi bi-card-checklist"></i> Action Log</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark dropdown-item" asp-area="" asp-page="/Diagnostics"><i class="bi bi-gear-wide-connected"></i> Diagnostics</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-dark dropdown-item" asp-area="" asp-page="/Logs"><i class="bi bi-clipboard2-pulse"></i> System Log</a>
                                    </li>

                                </ul>
                            </li>



                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="container">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Success!</strong> @TempData["SuccessMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="container">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error!</strong> @TempData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted">
        <div class="container">
            &copy; 2025 - WT Robinson
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/htmx/htmx.min.js"></script>
    <script src="~/js/magic-button.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
