html {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    position: relative;
    min-height: 100%;
    background-color: #f8f9fa;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

.log-container {
    height: 70vh;
    overflow-y: auto; /* enable scroll */
    overflow-x: hidden;
    background: #111;
    color: #eee;
    padding: 1rem;
    border-radius: 8px;
}

.log-wrapper {
    position: relative;
}

.refresh-indicator {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    opacity: 0;
    transition: opacity 0.2s ease;
}

    .refresh-indicator.active {
        opacity: 1;
    }


body {
    margin-bottom: 60px;
    font-family: "Roboto", sans-serif;
}

.btn {
    font-family: "Roboto", sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

label {
    font-weight: bold;
}

.form-group {
    margin-bottom: 1rem;
}

.bg-smoke {
    background-color: #f8f9fa;
}

.bg-secondary {
    background-color: #f6f6f6 !important;
}

.bg-gray {
    background-color: #e8e8e8;
}


.dropdown-menu .nav-link {
    padding-left: 5px;
    padding-right: 5px;
}
