html {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}



body {
    margin-bottom: 60px;
    font-family: "Roboto", sans-serif;
}
.btn {
    font-family: "Roboto", sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
