html {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

.log-container {
    height: 720px; 
    overflow-y: auto; /* enable scroll */
    overflow-x: hidden;

    background: #111;
    color: #eee;
    padding: 1rem;
    border-radius: 8px;
}

.log-wrapper {
    position: relative;
}

.refresh-indicator {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    opacity: 0;
    transition: opacity 0.2s ease;
}

    .refresh-indicator.active {
        opacity: 1;
    }


body {
    margin-bottom: 60px;
    font-family: "Roboto", sans-serif;
}
.btn {
    font-family: "Roboto", sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
