@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.isFirstRun)
{
    <div class="text-center">

        <h4>Initial Setup</h4>
        <p>Welcome to your new Magic Buton!</p>


    </div>


    <p>To get started, please complete the following steps:</p>
    <ol>
        <li>Configure the <strong>Button</strong> settings</li>
        <li>Map and configure <strong>LEDs</strong></li>
        <li>Lastly, add your <strong>API Webhook</strong></li>
    </ol>

    <p class="border p-3 bg-light text-center">
        <a asp-page="/Device" class="btn btn-success btn-lg">Get Started</a>
    </p>

}
else
{
    <h4>Configure</h4>
    @await Html.PartialAsync("_NavTiles", new[]{
    ("API Action", "boxes", "/Action", "Configure the API Webhook action and payload", false, ""),
    ("Button Settings", "hand-index-thumb", "/Device", "Configure the intervals and thesholds", false, ""),
    ("LED Settings", "lightbulb", "/Leds", "Configure the response mappings", false, "")})
    <hr />
    <h4>Inspect</h4>
    @await Html.PartialAsync("_NavTiles", new[]{
    ("Action Log", "card-checklist", "/Presses", "View previous button presses", false, ""),
    ("Diagnostics", "gear-wide-connected", "/Diagnostics", "Test the LEDs and your API config", false, ""),
    ("System Log", "clipboard2-pulse", "/Logs", "View general system log", false, "")})
    <hr />
    <h4>Command</h4>
    @await Html.PartialAsync("_NavTiles", new[]{
    ("Factory Reset", "box-seam", "?handler=Command&action=reset", "Delete all data", true, "Are you sure?"),
    ("Reboot", "recycle", "?handler=Command&action=reboot", "Restart the system", true, "Are you sure?"),
    ("Shutdown", "door-closed", "?handler=Command&action=shutdown", "Controlled power off", true, "Are you sure?")})
}