@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.isFirstRun)
{
    <div class="text-center">

        <h4>Initial Setup</h4>
        <p>Welcome to your new Magic Buton!</p>


    </div>


    <p>To get started, please complete the following steps:</p>
    <ol>
        <li>Configure the <strong>Button</strong> settings</li>
        <li>Map and configure <strong>LEDs</strong></li>
        <li>Lastly, add your <strong>API Webhook</strong></li>
    </ol>

    <p class="border p-3 bg-light text-center">
        <a asp-page="/Device" class="btn btn-success btn-lg">Get Started</a>
    </p>

}
else
{
    @await Html.PartialAsync("_NavTiles", new[]
    {("API Action", "boxes", "/Action", "Configure the payload"),
    ("Settings", "gear-fill", "/Device", "Configure the button"),
    ("LED Test", "lightbulb-fill", "/LEDs", "Test the LEDs"),
    ("Log File", "body-text", "/Logs", "Debug issues")})

}